{% extends 'base.html' %}

{% block title %} Mot de passe changé avec succés{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'password_change' %}">Changer de mot de passe</a></li>
  <li class="breadcrumb-item active">Success</li>
{% endblock %}

{% block content %}
  <div class="alert alert-success" role="alert">
    <strong>Bravo!</strong> Votre mot de passe a été changé avec succés
  </div>
  <a href="{% url 'home' %}" class="btn btn-secondary">Retourner à l'accueil</a>
{% endblock %}